/* @font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
} */
/* @font-face {
    font-family: 'alex brush regular';
    src: url('AlexBrush_Regular.ttf');
} */
/* .root {
    -fx-font-family: "Montserrat";
} */
.label {
    -fx-text-fill: #252525;
    /* -fx-text-fill: #0000ff; */
    /* -fx-font-family: "Montserrat"; */
    /* -fx-font-family: 'alex brush regular'; */
    /* font-family: ''; */
    /* -fx-font-family: "STENCIL"; */
    /* -fx-font-family: "Old English Text MT"; */
}

/* .button {

} */